ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#ffcc99;
}

li{
    float: left;
}

li a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
li a:hover{
        background-color:#66ccff;
}

table, th, td {

    border: 1px solid black;
    
    border-collapse:collapse;
    
    }
    
    th, td {
    
    padding: 5px;
    
    }

body{
    background-color: #fefbd8;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}


/*table, th, td {
  border: 1px solid black;
  border-collapse:collapse;
}
th, td {
  padding: 5px;
}
